---
export const prerender = true;

const locale = 'es';
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; url=/${locale}/`} />
    <script is:inline>
      window.location.href = '/' + (navigator.language.startsWith('en') ? 'en' : 'es') + '/';
    </script>
  </head>
  <body>
    <a href="/es/">Ir a versión español</a>
    <a href="/en/">Go to English version</a>
  </body>
</html>
